
@{
    ViewData["Title"] = "AddDosageForms";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";

}

<!-- Add New Dosage Form -->
<div class="card p-3">
    <h5 class="title-underline">New Dosage Form</h5>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="dosageFormName" class="form-label">Dosage Form Name</label>
                <input type="text" class="form-control" id="dosageFormName" placeholder="e.g. Tablet, Syrup">
            </div>
            <button type="submit" class="btn btn-primary">Add Dosage Form</button>
        </form>
    </div>
</div>