
@{
    ViewData["Title"] = "Dosage Forms";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="container mt-4">
  

    <!-- Dosage Forms Table -->
    <div class="card p-3">
        <h5 class="title-underline">Existing Dosage Forms</h5>
        <div class="card-body">
            <table class="table table-hover table-borderless">
                <thead class="table-light" style=" color: #2c3e50;">
                    <tr>
                        
                        <th>Form Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                       
                        <td>Tablet</td>
                        <td>
                            <button class="btn btn-sm btn-warning me-2">Edit</button>
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        
                        <td>Syrup</td>
                        <td>
                            <button class="btn btn-sm btn-warning me-2">Edit</button>
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        
                        <td>Capsule</td>
                        <td>
                            <button class="btn btn-sm btn-warning me-2">Edit</button>
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
